@model UserViewModel
@{
    ViewBag.Title = "User Managment";
    CreateUserDto c = new CreateUserDto() { 
        FullName = "Hehe "
    
    };
}
<!--begin::Header-->
<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
</div>
<!--end::Toolbar-->
<div id="kt_app_content_container" class="app-container container-xxl">
    <div class="card mb-5 mb-xl-8">
        <div class="card-header border-0 pt-5" >
            <h3 class="card-title align-items-start flex-column">
                <span class="card-label fw-bold fs-3 mb-1"> User Managment  </span>
                <span class="text-muted mt-1 fw-semibold fs-7">Over 500 members</span>
            </h3>
            <div style ="padding-left:500px" class="card-toolbar border-0" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" >
                <a id="CreateUser" class="btn btn-sm btn-light btn-active-primary" data-popup-url="Create" data-bs-toggle="modal" data-bs-target="#kt_modal_1">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
                    <span class="svg-icon svg-icon-3">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="currentColor" />
                            <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                    New User
                </a>
            </div>
            <div id="popupContainer"></div>
            @*<partial name="_Create.cshtml" model="@c">*@

        </div>
        <!--end::Header-->
        <div class="card-body py-3">
            <div class="table-responsive">
            <table id="kt_datatable_dom_positioning" class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
        <thead>
            <tr class="fw-bold fs-6 text-gray-800 px-7">
                <th>@Html.DisplayNameFor(x => x.FullName)</th>
                <th class="text-center">@Html.DisplayNameFor(x => x.Email)</th>
                <th class="text-center">@Html.DisplayNameFor(x => x.DOB)</th>
                <th class="text-center">@Html.DisplayNameFor(x => x.PhoneNumber)</th>
                <th class="text-center">@Html.DisplayNameFor(x => x.ImageUrl)</th>
                <th class="text-center">العمليات</th>
            </tr>
        </thead>
    </table>
        </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script src="~/datatable/datatable.js"></script>
    <script>
        DataTable(
            "",
            [
                { data: "fullName", name: "FullName", className: "dt-right align-middle" },
                { data: "email", name: "Email", className: "dt-center align-middle" },
                {
                    "data": null, "name": "DOB", "autowidth": true,
                    "sorting": false,
                    "render": function (data, type, row) {
                        return `<td class="text-end">
                                        <span class="badge badge-light-danger fw-semibold me-1">${data.dob}</span>
                                    </td>`;
                    }
                },
                { data: "phoneNumber", name: "PhoneNumber", className: "text-center align-middle" },
                {
                    data: null, name: null, orderable: false, className: "text-center align-middle", render: function (data) {
                        return "<img src='/images/" + data.imageUrl + "' class='btn' height='100' width='100'>";
                    }
                },
                //{
                //    data: null, name: null, orderable: false, className: "dt-center align-middle",
                //    render: function (data) {
                //        return '<div class="form-check form-check-custom form-check-solid">' +
                //            '<input class="status-check-input form-check-input" type="checkbox"' +
                //            (data.status == 1 ? ' checked="checked"' : '') + ' style="margin:auto;"' +
                //            ' data-action="/Admin/Products/SetStatus/' + data.id + '?status=" />' +
                //            '</div>';
                //    }
                //},
                //{
                //    data: null, name: null, orderable: false, className: "dt-center align-middle",
                //    render: function (data) {
                //        return '<div class="form-check form-check-custom form-check-solid">' +
                //            '<input class="onSale-check-input form-check-input" type="checkbox"' +
                //            (data.onSale ? ' checked="checked"' : '') + ' style="margin:auto;"' +
                //            ' data-action="/Admin/Products/OnSale/' + data.id + '?onSale=" />' +
                //            '</div>';
                //    }
                //},
                {
                    data: null, name: null, orderable: false, className: "dt-center align-middle", render: function (data) {
                        return "<a href='/User/Update/" + data.id + "' class='btn'>" +
                            "<span class='svg - icon svg - icon - muted svg - icon - 2hx'>" +
                            "<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>" +
                            "<path opacity='0.3' fill-rule='evenodd' clip-rule='evenodd' d='M2 4.63158C2 3.1782 3.1782 2 4.63158 2H13.47C14.0155 2 14.278 2.66919 13.8778 3.04006L12.4556 4.35821C11.9009 4.87228 11.1726 5.15789 10.4163 5.15789H7.1579C6.05333 5.15789 5.15789 6.05333 5.15789 7.1579V16.8421C5.15789 17.9467 6.05333 18.8421 7.1579 18.8421H16.8421C17.9467 18.8421 18.8421 17.9467 18.8421 16.8421V13.7518C18.8421 12.927 19.1817 12.1387 19.7809 11.572L20.9878 10.4308C21.3703 10.0691 22 10.3403 22 10.8668V19.3684C22 20.8218 20.8218 22 19.3684 22H4.63158C3.1782 22 2 20.8218 2 19.3684V4.63158Z' fill='currentColor'/>" +
                            "<path d='M10.9256 11.1882C10.5351 10.7977 10.5351 10.1645 10.9256 9.77397L18.0669 2.6327C18.8479 1.85165 20.1143 1.85165 20.8953 2.6327L21.3665 3.10391C22.1476 3.88496 22.1476 5.15129 21.3665 5.93234L14.2252 13.0736C13.8347 13.4641 13.2016 13.4641 12.811 13.0736L10.9256 11.1882Z' fill='currentColor'/>" +
                            "<path d='M8.82343 12.0064L8.08852 14.3348C7.8655 15.0414 8.46151 15.7366 9.19388 15.6242L11.8974 15.2092C12.4642 15.1222 12.6916 14.4278 12.2861 14.0223L9.98595 11.7221C9.61452 11.3507 8.98154 11.5055 8.82343 12.0064Z' fill='currentColor'/>" +
                            "</svg></span>" +
                            "</a>"
                            +
                            "<a href='/User/Delete/" + data.id + "' class='btn confirm'>" +
                            "<span class='svg - icon svg - icon - 2'>" +
                            "<svg width = '24' height = '24' viewBox = '0 0 24 24' fill = 'none' xmlns = 'http://www.w3.org/2000/svg'>" +
                            "<path d='M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z' fill='currentColor'></path>" +
                            "<path opacity='0.5' d='M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z' fill='currentColor'></path>" +
                            "<path opacity='0.5' d='M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z' fill='currentColor'></path>" +
                            "</svg></span>" +
                            "</a>";
                    }
                }
            ]
        );
        function _funAfterGetData() {
            $('.status-check-input').change(function () {
                let me = this;
                if (me.checked) {
                    $.ajax(
                        {
                            url: me.dataset.action + "1"
                        });
                }
                else {
                    $.ajax(
                        {
                            url: me.dataset.action + "2"
                        });
                }
            });

            $('.onSale-check-input').change(function () {
                let me = this;
                if (me.checked) {
                    $.ajax(
                        {
                            url: me.dataset.action + true
                        });
                }
                else {
                    $.ajax(
                        {
                            url: me.dataset.action + false
                        });
                }
            });
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <script>
        $(document).ready(function () {
                $('#CreateUser').click(function (e) {
                e.preventDefault();
                var popupUrl = $(this).data('popup-url');

                $.ajax({
                    url: popupUrl,
                    type: 'GET',
                    success: function (result) {
                        $('#popupContainer').html(result);
                        $('#kt_modal_1').modal('show');
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            });
        });

        $(document).on('click', function (e) {
            if (!$('#kt_modal_1').is(e.target) && $('#kt_modal_1').has(e.target).length === 0) {
                $('#kt_modal_1').modal('hide');
            }
        });
    </script>
}